@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');

:root {
  --cadetblue: #474747;
  --white: #ffffff;
  --highlight_yellow: #ffd200;
}

body {
background-color: black;
color: white;
}

h1, h2, h3, h4 {
  font-family: 'Lucida Console', 'Courier New', monospace;
}

p {
  font-family: 'Lucida Console', 'Courier New', monospace;
}

.well {
background-color: #5f9ea0;      
}        

.shiny-input-container {
color: var(cadetblue);
}

.navbar-brand {
background-color: var(highlight_yellow); 
}

nav navbar-nav {
background-color: var(cadetblue);
}